.carousel-container {
    overflow: hidden;
    height: 440px;
}
.each-movie-title {
    padding-left: 2rem;
    cursor: pointer;
    color: rgb(0, 247, 255);
}
.each-movie-title:hover {
    color: white;
}

@media screen and (max-width:767px){
    .popularMovie-title {
        margin-top: -2.8rem;
        position: absolute;
    }
    .carousel-container {
        height: 300px;
        margin-bottom: 5rem;
    }
}