.movie-detail-info-all Button {
    background-color: #FFBF00 !important;
    border-color: #FFBF00 !important;
    border-radius: 40px;
    padding: 0.3rem;
    color: black !important;
    font-weight: 600 !important;
    width: 20%;

    text-align: center;
}
.movie-detail-info-all {
    margin-bottom: 1rem;
}
.trailer-button {
    background-color: black !important;
    border-color: red !important;
    border-radius: 15px !important ;
    padding: 0.3rem;
    color: white !important;
    font-weight: 600 !important;
    width: 50%;
}
.trailer-button:hover {
    background-color: red !important;
    border-color: red !important;
    border-radius: 15px !important ;
    padding: 0.3rem;
    color: white !important;
    font-weight: 600 !important;
    width: 50%;
}

@media screen and (max-width:767px){
    .detail-page-genre {
        margin-top: 1.5rem;
    }
}